include includes/base
script(src="/socket.io/socket.io.js")
script(src="public/js/vendor/phaser-virtual-joystick.js")
script.
    game_name = "#{game_name}";
    player_name = "#{player_name}";
script(src="public/js/controller.js")
