doctype html
html
    head
        script(src="public/js/vendor/phaser.js")
        link(href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet")
        link(rel='stylesheet', href='public/css/main.css')
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
        meta(name="apple-mobile-web-app-capable" content="yes")

        title Spacey Friends
    body
