doctype html
html
    head
        script(src="public/js/vendor/phaser.js")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
        title Spacey Friends
        style.
            body {
                padding: 0;
                margin: 0;
                background: white;
            }
    body
